.buttonContainer {
  background-color: #6e1383;
  border: none;
  border-radius: 2%;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  color: white;
  cursor: pointer;
  padding: 8px 32px;
  width: 30%;
}
