.buttonContainer {
  background-color: #6e1383;
  border: none;
  border-radius: 2%;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  color: white;
  cursor: pointer;
  padding: 4px 12px;
  width: 50%;
  min-width: 150px;
}

.buttonContainer:hover {
  background-color: #80089b;
}

.buttonContainer:disabled {
  background-color: #6f6174;
  cursor: not-allowed;

}
