.displayUserContainer {
  align-items: baseline;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 1%;
  margin: 30px;
  border-bottom: 2px solid #6e1383;
}

.balanceModalContainer {
  align-items: flex-end;
  display: flex;
  gap: 10%;
  height: 100%;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin-bottom: 5px;
  width: 50%;
}

.displayUserTitle {
  display: flex;
  align-items: baseline;
  gap: 10px;
}

.displayUserTitle span {
  font-size: xx-large;
}

.balanceModalContainer button {
  background-color: #6e1383;
  border: none;
  border-radius: 2%;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  color: white;
  cursor: pointer;
  height: 100%;
  padding: 4px 12px;
  width: 100%;
}

.balanceModalContainer button:hover {
  background-color: #80089b;
}

.balanceModalContainer button:disabled {
  background-color: #6f6174;
  cursor: not-allowed;

}