.displayUserContainer {
  align-items: baseline;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 20px;
  padding: 1%;
  margin: 30px;
  border-bottom: 2px solid #6e1383;
}

.balanceModalContainer {
  align-items: flex-end;
  display: flex;
  gap: 10px;
  height: 100%;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin-bottom: 5px;
  width: 50%;
  min-width: 150px;
}

.balanceModalContainer h5 {
  font-size: large;
}

.displayUserTitle {
  display: flex;
  align-items: baseline;
  gap: 10px;
}

.displayUserTitle span {
  font-size: xx-large;
}
