.loginContainer {
  align-items: center;
  background-color: #202024;
  color: white;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

.loginFormContainer {
  align-items: center;
  background-color: hsl(240, 9%, 89%, 0.2);
  /* border: 1px solid #81d8f7; */
  border-radius: 5%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 60%;
  justify-content: center;
  padding: 70px;
  min-width: 500px;
  max-width: 60%;
}

.loginAlert {
  color: red;
  font-size: large;
}

.loginButtonContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 100%;
}